<div class="container">

  <form [formGroup]="form">
    <div class="block-logo">
      <img src="./assets/HF_logo.svg" class="logo">
    </div>

    <div class="fields-container">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
      </mat-form-field>

    </div>
    <button mat-button class="but-forgot-password but">forgot password</button>

    <span class="error" *ngIf="form.controls['email'].invalid && form.controls['email'].dirty
     || form.controls['password'].invalid&&form.controls['password'].dirty">
      {{form.controls['email'].errors.message}}</span>

    <button class="but-login but" type="submit" (click)="login(form.value.email, form.value.password)">login</button>
  </form>
  <mat-spinner *ngIf="loading$|async"></mat-spinner>
</div>